/* обнуление стилей*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, p, pre, h1, h2, h3, h4, h5, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
}

/* обнуление стилей закончено*/
/* настройка основных стилей */


body {
  font-family: OpenRunde, serif;
  font-size: 20px;
  line-height: 1.32;
  font-weight: 400;
  color: $text;
  @media screen and (max-width: $xxl) {
    font-size: 16px;
  }
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

pre {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  white-space: pre-line;
}

h1 {
  font-size: 50px;
  font-family: Aqum, sans-serif;
  //line-height: 120%;
  font-weight: 700;
  @media screen and (max-width: $xxl) {
    font-size: 36px;
  }
  @media screen and (max-width: $sm) {
    font-size: 30px;
  }
}

h2 {
  font-weight: 700;
  font-size: 36px;
  font-family: Aqum, sans-serif;
  @media screen and (max-width: $sm) {
    font-size: 25px;
  }
}

h3 {
  font-family: OpenRunde, serif;
  font-weight: 600;
  font-size: 20px;
  @media screen and (max-width: $sm) {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
}

/* настройка основных стилей закончена */