@font-face {
  font-family: 'Aqum';
  src: url('/static/fonts/aqum.ttf');
  src: url('/static/fonts/aqum.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/aqum.woff2') format('woff2'),
  url('/static/fonts/aqum.woff') format('woff'),
  url('/static/fonts/aqum.ttf') format('truetype'),
  url('/static/fonts/aqum.svg#aqum') format('svg');
}

@font-face {
  font-family: 'OpenRunde';
  src: url('/static/fonts/OpenRunde-Regular.woff2') format('woff2'),
  url('/static/fonts/OpenRunde-Regular.woff') format('woff');
}