footer {
  background-color: $secondary;
  margin-top: 100px;

  .footer__wrapp {
    padding-top: 20px;
    padding-bottom: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */

    img {
      height: 39px;
    }
  }
}