nav {
  display: flex;
}

.navigation {
  padding-top: 38px;

  .navigation__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburger {
      display: none;
      cursor: pointer;
      width: 32px;
      height: 32px;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    img {
      width: 90px;
    }

    .navigation__list {
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 59px;
      @media screen and (max-width: $sm) {
        display: none;
      }

      .navigation__list-item-act {
        background-color: $primary;
        padding: 7px 32px;
        border-radius: 16px;
      }
    }
  }

  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: $background;
    padding: 20px;
    &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: rgba($primary, 0.5);
    z-index: -1; // Ensure it is behind the sidebar content
}

    .close-btn {
      cursor: pointer;
      width: 32px; // Adjust the size as needed
      height: 32px; // Adjust the size as needed
      position: absolute;
      top: 50px;
      right: 12px;
    }

    .sidebar__list {
      display: flex;
      flex-direction: column;
      align-items: center; // Center horizontally
      padding-top: 156px;
      gap: 30px;

      .sidebar__list-item-act {
        background-color: $primary;
        padding: 7px 32px;
        border-radius: 16px;
      }
    }
    .sidebar__footer{
        display: flex;
        flex-direction: column;
        align-items: center;
      gap: 18px;
      img{
        width: 90px;
      }
    }

  }
}