<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_about_us.css">
</head>
<body>
<header>
    <nav class="navigation">
        <div class="container">
            <div class="navigation__wrapp">
                <img src="/static/image/logo.svg" alt="logo">
                <ul class="navigation__list">
                    <li class="navigation__list-item">
                        <a href="/" class="navigation__list-link"> Открытка </a>
                    </li>
                    <li class="navigation__list-item">
                        <a href="/constructor" class="navigation__list-link"> Конструктор </a>
                    </li>
                    <li class="navigation__list-item-act">
                        <a href="/about_us" class="navigation__list-link"> О нас </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <section class="name">
        <div class="container">
            <h1 class="name__title">HEDGEHOGS</h1>
            <p class="name__text">Команда талантливых программистов, создающих современные приложения, сайты и другие
                технологические проекты</p>
        </div>
    </section>
    <section class="team">
        <div class="container">
            <h2 class="team__title">Наша команда</h2>
            <div class="team__wrapp">
                <div class="team__item">
                    <img src="/static/image/photo.svg" alt="photo">
                    <div class="team__item-text">
                        <h3 class="team__name">Шильников Кирилл</h3>
                        <p class="team__prof">Backend-разработчик</p>
                    </div>
                </div>
                <div class="team__item">
                    <img src="/static/image/photo.svg" alt="photo">
                    <div class="team__item-text">
                        <h3 class="team__name">Гульев Сергей</h3>
                        <p class="team__prof">Frontend-разработчик</p>
                    </div>

                </div>
                <div class="team__item">
                    <img src="/static/image/photo.svg" alt="photo">
                    <div class="team__item-text">
                        <h3 class="team__name">Гущина Мария</h3>
                        <p class="team__prof">UX/UI-дизайнер</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="provide">
        <div class="container">
            <h2 class="provide__title">МЫ ПРЕДСТАВЛЯЕМ</h2>
            <div class="row">
                <div class="offset-1 col-10 offset-1">
                    <div class="provide__blocks">
                        <div class="provide__item">
                            <img src="/static/image/star.svg" alt="star">
                            <p class="provide__text">Разработку<br>
                                инновационных решений</p>
                        </div>
                        <div class="provide__item">
                            <img src="/static/image/calendar.svg" alt="calendar">
                            <p class="provide__text">Высокую эффективность<br>
                                работы даже при<br>
                                сжатых сроках</p>
                        </div>
                        <div class="provide__item">
                            <img src="/static/image/smile.svg" alt="smile">
                            <p class="provide__text">Гарантию качества<br>
                                и постоянное улучшение<br>
                                наших услуг</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="provide__projects">
                <h2 class="provide__projects-title">НАШИ ПРОЕКТЫ</h2>
                <a href="https://t.me/createyourmem_bot">
                    <div class="provide__projects-block">

                        <h2>MEMCREATOR</h2>
                        <h3>бот по созданию мемов</h3>

                    </div>
                </a>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container">
        <div class="footer__wrapp">
            <img src="../static/image/name.svg" alt="name">
            <p>Hedgehogs © 2023</p>
        </div>
    </div>
</footer>
</body>
</html>