<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Va</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
<header>
    <nav class="navigation">
        <div class="container">
            <div class="navigation__wrapp">
                <img src="../static/image/logo.svg" alt="logo">
                <img src="../static/image/hamburger.svg" alt="hamburger" class="hamburger" id="hamburger">
                <ul class="navigation__list" id="navigation-list">
                    <li class="navigation__list-item-act">
                        <a href="#" class="navigation__list-link"> Открытка </a>
                    </li>
                    <li class="navigation__list-item">
                        <a href="/constructor" class="navigation__list-link"> Конструктор </a>
                    </li>
                    <li class="navigation__list-item">
                        <a href="/about_us" class="navigation__list-link"> О нас </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar" id="sidebar">
                <img src="../static/image/escape.svg" alt="close" class="close-btn" id="close-btn">
                <ul class="sidebar__list">
                    <li class="sidebar__list-item-act">
                        <a href="/" class="sidebar__list-link"> Открытка </a>
                    </li>
                    <li class="sidebar__list-item">
                        <a href="/constructor" class="sidebar__list-link"> Конструктор </a>
                    </li>
                    <li class="sidebar__list-item">
                        <a href="/about_us" class="sidebar__list-link"> О нас </a>
                    </li>
                </ul>
{#                <div class="sidebar__footer">#}
{#                    <img src="../static/image/name.svg" alt="name">#}
{#                    <p>Hedgehogs © 2023</p>#}
{#                </div>#}
            </div>
        </div>
    </nav>
</header>
<main>
    <section class="name">
        <div class="container">
            <div class="name__wrapp">
                <h3 class="name__small">Подарите радость близким с нашими уникальными</h3>
                <h1 class="name__title">Электронными открытками!</h1>
            </div>
        </div>
    </section>
    <section class="what?">
        <div class="container">
            <div class="what__wrapp">
                <img src="../static/image/postcard.png" alt="postcard">
                <div class="what__wrapp-text">
                    <h2 class="what__title">Что это?</h2>
                    <p class="what__text">Электронная открытка – это стильный и современный способ поздравить
                        близких с
                        Днем святого
                        Валентина или любым другим праздником.<br><br>
                        Это компактный гаджет, на котором вы можете отобразить личное сообщение, настроить яркую
                        подсветку и даже использовать как часы!<br><br>
                        Она сочетает в себе оригинальность и практичность, делая поздравление запоминающимся и
                        необычным.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="functions">
        <div class="container">
            <div class="functions__wrapp">
                <h2 class="functions__title">Почему именно мы?</h2>
                <div class="functions__cards ">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="functions__Card functions__cards-primary">
                                <div class="functions__Card-img-wrap">
                                    <img src="../static/image/messag.svg" alt="sun">
                                </div>
                                <div class="functions__Card-title">
                                    <p>Личные поздравления</p>
                                </div>
                                <div class="functions__Card-text">
                                    <p>Создайте уникальное сообщение</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="functions__Card functions__cards-secondary">
                                <div class="functions__Card-img-wrap">
                                    <img src="../static/image/sun.svg" alt="sun">
                                </div>
                                <div class="functions__Card-title">
                                    <p>Яркая RGB-подсветка</p>
                                </div>
                                <div class="functions__Card-text">
                                    <p>Настройте цвет подсветки под настроение</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="functions__Card functions__cards-primary">
                                <div class="functions__Card-img-wrap">
                                    <img src="../static/image/energy.svg" alt="sun">
                                </div>
                                <div class="functions__Card-title">
                                    <p>Долгое время работы</p>
                                </div>
                                <div class="functions__Card-text">
                                    <p>Встроенный аккумулятор<br>обеспечивает<br> длительную работу</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="functions__Card functions__cards-secondary">
                                <div class="functions__Card-img-wrap">
                                    <img src="../static/image/interface.svg" alt="sun">
                                </div>
                                <div class="functions__Card-title">
                                    <p>Простой интерфейс</p>
                                </div>
                                <div class="functions__Card-text">
                                    <p>Управление одной<br>кнопкой</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="order">
        <div class="container">
            <div class="order__wrap">
                <h2 class="order__title">ЗАКАЖИТЕ ПРЯМО<br> СЕЙЧАС!</h2>
                <div class="order__form">
                    <form action="#">
                        <select class="order__form-design" name="design" required>
                            <option value="" disabled selected>Выбор дизайна</option>
                            <option value="design1">Дизайн 1</option>
                            <option value="design2">Дизайн 2</option>
                        </select>
                        <input type="text" name="name" placeholder="Ваше имя" required>
                        <input type="tel" name="phone" placeholder="+7(___)___-____" pattern="[0-9]{12}"
                               maxlength="12"
                               required>
                        <input type="email" name="email" placeholder="Электронная почта" required>
                        <p class="order__form-text">Срок изготовления открытки составляет 2 недели.<br>Доставка осуществляется курьерской
                            службой
                            CDEK.</p>
                        <button type="submit">Оформить заказ</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container">
        <div class="footer__wrapp">
            <img src="../static/image/name.svg" alt="name">
            <p>Hedgehogs © 2023</p>
        </div>
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const hamburger = document.getElementById('hamburger');
        const sidebar = document.getElementById('sidebar');
        const closeBtn = document.getElementById('close-btn');

        hamburger.addEventListener('click', function () {
            sidebar.style.display = sidebar.style.display === 'block' ? 'none' : 'block';
        });

        closeBtn.addEventListener('click', function () {
            sidebar.style.display = 'none';
        });
    });
</script>
</body>
</html>